<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883188839904-dit7d7q6n7pst7tu9tp9d93ctn57id2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883188839904-dit7d7q6n7pst7tu9tp9d93ctn57id2t</string>
	<key>API_KEY</key>
	<string>AIzaSyDoA5cBs-fcHAtfnWKH0oK1JCoRdb7o5pk</string>
	<key>GCM_SENDER_ID</key>
	<string>883188839904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.StringR.StringR-Store</string>
	<key>PROJECT_ID</key>
	<string>prostringr</string>
	<key>STORAGE_BUCKET</key>
	<string>prostringr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883188839904:ios:16a8f14e539d2f06862785</string>
	<key>DATABASE_URL</key>
	<string>https://prostringr.firebaseio.com</string>
</dict>
</plist>